players/*
worlds/*
plugins/*
logs/*
.idea/*
*.log
*.pmf
*.txt
server.properties

# Install
php/
install_data/

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
